<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Success reset password</title>
</head>
<body class="bg-info my-5 d-flex justify-content-center ">
    <div class="bg-white container rounded p-3">
        <h3 class="mb-3">Password Reset Successful</h3>
        <p>Your password has been reset successfully. Please login with your new password.</p>
    </div>
</body>
</html>